{{> navigation}}

<div id="main">
    <div id="welcome-container">
        <h1>Welcome</h1>
        <img src="./style/images/photo-1515678916313-2263ebfad5cb.jpg" alt="shopImage">
        <h2>Login or register to check out our cool items!</h2>
        <div id="button-div">
            <a href="#/login" class="button">Login</a>
            <a href="#/register" class="button">Register</a>
        </div>
    </div>
</div>

{{> footer}}