{{> navigation}}

<div id="item-listings">
    <h1>My items</h1>
    <div id="listings">

        {{#each myItems}}

            {{> item}}

        {{else}}
            <p class="no-items">No my items in database.</p>
        {{/each}}
    </div>
</div>

{{> footer}}